## MLOps Assignment 1

Name: Suvigya Sharma
Roll no.: M24CSA033

*Q1*. Print multiplication table from 1 to 10

In [37]:
#write here and run the cell
for i in range(1,11):
  for j in range(1,11):
    print(f"{i} * {j} = {i * j}")
  print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [38]:
#write here and run the cell
l1=[1,2,3,4]
l2=[5,6,7,8]
l3 = l1[1::2] + l2[0::2]
print(l3)

[2, 4, 5, 7]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [39]:
#write here and run the cell
for i in range(8, 0, -1):
    print(" " * (8 - i) * 2, end="")
    for j in range(i):
        print("*", end=" ")
    print()

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [40]:
#write here and run the cell
def exponent(base, exp):
  print(base**exp)

exponent(5,4)

625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [41]:
#write here and run the cell
# Open the source file (test.txt) for reading
with open('test.txt', 'r') as source_file:
    # Read all lines from the source file
    lines = source_file.readlines()

# Open the destination file (new_test.txt) for writing
with open('new_test.txt', 'w') as destination_file:
    # Write all lines to the destination file, except line number 5 (index 4)
    for index, line in enumerate(lines):
        if index != 4:  # Skip line number 5
            destination_file.write(line)

print("Content copied to new_test.txt file, skipping line 5.")

Content copied to new_test.txt file, skipping line 5.

*Q6*. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [42]:
#write here and run the cell
input_names =input("Input: ")

# Split the input string by spaces
names = input_names.split()

# Print each name on a new line
print("Output:")
for name in names:
    print(name)

Input: IIT JODHPUR RAJASTHAN
Output:
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [46]:
#write here and run the cell
# def show_employee(name, salary=9000):
#   name=input("enter employee's name: ")
#   salary=input("Enter employee's salary: ")
#   print("Name:" ,name ,"salary: " ,salary)
#   show_employee()
# #show_employee("Bill Gates", 12000)

# def show_employee(name, salary=9000):
#     print(f"Name: {name} salary: {salary}")

# show_employee("Bill Gates", 12000)
# show_employee("Elon Musk")
def showEmployee(name, salary=9000):
    print(f"Name: {name} salary: {salary}")

# Test cases
showEmployee("Bill Gates", 12000)
showEmployee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [47]:
#write here and run the cell
def fun(word):
    letter = any(char.isalpha() for char in word)
    digit = any(char.isdigit() for char in word)
    return letter and digit

str1 = "Harry25 is Gryffindor Wizard50 and cursed"

# Split the input string into words
words = str1.split()

# Filter and print words that contain both letters and digits
for word in words:
    if fun(word):
        print(word)

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [48]:
#write here and run the cell
def replace(s):
    result = []
    for char in s:
        if char.isalnum() or char.isspace():
            result.append(char)
        else:
            result.append('#')
    return ''.join(result)

str1 = '/*Modi is @Politician & Melony!!'

# Substitute special characters with '#'
result = replace(str1)
print(result)

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [49]:
#write here and run the cell
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

result= set()

for i in range(len(first_list)):
    # Create a pair (tuple) and add it to the set
    result.add((first_list[i], second_list[i]))

# Print the resulting set
print("Result is", result)

Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [50]:
#write here and run the cell
# two sets with 5 elements each
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# A - B (elements in A but not in B)
difference1 = A - B
print("A - B:", difference1)

# B - A (elements in B but not in A)
difference2 = B - A
print("B - A:", difference2)

# A ∩ B (elements common to both)
intersect = A.intersection(B)
print("A ∩ B:", intersect)

# A ∪ B (all unique elements from both sets)
union_A_B = A.union(B)
print("A ∪ B:", union_A_B)

A - B: {1, 2, 3}
B - A: {8, 6, 7}
A ∩ B: {4, 5}
A ∪ B: {1, 2, 3, 4, 5, 6, 7, 8}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

*Q12*. Create a Vehicle class with max_speed and mileage instance attributes.

In [51]:
#write here and run the cell
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

# Example:
my_vehicle = Vehicle(180, 16000)
print("Max Speed:", my_vehicle.max_speed)
print("Mileage:", my_vehicle.mileage)

Max Speed: 180
Mileage: 16000

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [52]:
#write here and run the cell
class Vehicle:     # Parent class

    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

    def display_info(self):
        print(f"Max Speed: {self.max_speed}")
        print(f"Mileage: {self.mileage}")

class Bus(Vehicle):   # Child class
    pass

bus_object = Bus(180, 12000)     # Create a Bus object

bus_object.display_info()       # Display inherited attributes and methods

Max Speed: 180
Mileage: 12000

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [53]:
#write here and run the cell
class Vehicle:    # parent class
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):   #Child
  def __init__(self, name, max_speed, mileage):
        super().__init__(name, max_speed, mileage)

  def seating_capacity(self, capacity=50):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

bus = Bus(name="bus", max_speed=200, mileage=1000)  #instance of Bus
print(bus.seating_capacity())

The seating capacity of a bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [54]:
#write here and run the cell
class Vehicle:  #PARENT
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle): #CHILD

    def fare(self):
        base_fare = super().fare()
        maintenance_fee = base_fare * 0.10        # Add 10% maintenance fee
        return base_fare + maintenance_fee

# Create an instance of Bus
School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [56]:
#write here and run the cell
import json

data = {"key1": "value1", "key2": "value2"}

json_data = json.dumps(data)       # Convert dictionary to JSON
print(json_data)

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [57]:
#write here and run the cell
import json

# Define the JSON object
sampleJson = {"id": 1, "name": "value2", "age": 29}

# Sort the keys and write to a file
with open("sorted_sample.json", "w") as file:
    json.dump(sampleJson, file, indent=4, sort_keys=True)

print(" Assignment done. JSON data has been written to 'sorted_sample.json' with sorted keys.")

 Assignment done. JSON data has been written to 'sorted_sample.json' with sorted keys.